project.cpp.tutors/_cpp.unit.test/src/test.cases/data.provider/xml/data.prov.logo.exmo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="logo">
		<xs:annotation>
			<xs:documentation>This is base64bin encoded image of data provide logo;</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="id" type="xs:int" use="required"/>
			<xs:attribute name="height" type="xs:int" use="required"/>
			<xs:attribute name="width" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>