project.cpp.tutors/_cpp.unit.test/src/test.cases/data.provider/xml/data.prov.logo.exmo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2026 (x64) (https://www.altova.com) by Vladimir (ARQA Inc,) -->
<!-- W3C Schema generated by XMLSpy v2026 (x64) (https://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="logo">
		<xs:annotation>
			<xs:documentation>This is base64bin encoded image of data provide logo;</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="id" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:byte">
								<xs:enumeration value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="width" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:short">
								<xs:enumeration value="128"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="height" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:short">
								<xs:enumeration value="128"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>