project.cpp.tutors/_cpp.unit.test/src/test.cases/data.provider/xml/ebo.bot.data.spec.1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2026 (x64) (https://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="currencies">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="currency" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="currency">
		<xs:complexType>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="12"/>
						<xs:enumeration value="13"/>
						<xs:enumeration value="21"/>
						<xs:enumeration value="22"/>
						<xs:enumeration value="23"/>
						<xs:enumeration value="24"/>
						<xs:enumeration value="25"/>
						<xs:enumeration value="26"/>
						<xs:enumeration value="27"/>
						<xs:enumeration value="28"/>
						<xs:enumeration value="29"/>
						<xs:enumeration value="30"/>
						<xs:enumeration value="31"/>
						<xs:enumeration value="32"/>
						<xs:enumeration value="33"/>
						<xs:enumeration value="34"/>
						<xs:enumeration value="35"/>
						<xs:enumeration value="36"/>
						<xs:enumeration value="37"/>
						<xs:enumeration value="38"/>
						<xs:enumeration value="39"/>
						<xs:enumeration value="6"/>
						<xs:enumeration value="7"/>
						<xs:enumeration value="8"/>
						<xs:enumeration value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="BCH"/>
						<xs:enumeration value="BTC"/>
						<xs:enumeration value="BTCZ"/>
						<xs:enumeration value="BTG"/>
						<xs:enumeration value="DASH"/>
						<xs:enumeration value="DOGE"/>
						<xs:enumeration value="DXT"/>
						<xs:enumeration value="EOS"/>
						<xs:enumeration value="ETC"/>
						<xs:enumeration value="ETH"/>
						<xs:enumeration value="EUR"/>
						<xs:enumeration value="HBZ"/>
						<xs:enumeration value="KICK"/>
						<xs:enumeration value="LTC"/>
						<xs:enumeration value="PLN"/>
						<xs:enumeration value="RUB"/>
						<xs:enumeration value="STQ"/>
						<xs:enumeration value="UAH"/>
						<xs:enumeration value="USD"/>
						<xs:enumeration value="USDT"/>
						<xs:enumeration value="WAVES"/>
						<xs:enumeration value="XLM"/>
						<xs:enumeration value="XMR"/>
						<xs:enumeration value="XRP"/>
						<xs:enumeration value="ZEC"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="isFlat" use="required" type="xs:boolean"/>
			<xs:attribute name="description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Bitcoin"/>
						<xs:enumeration value="Bitcoin Cash"/>
						<xs:enumeration value="Bitcoin Gold"/>
						<xs:enumeration value="BitcoinZ"/>
						<xs:enumeration value="Dash"/>
						<xs:enumeration value="Datawallet"/>
						<xs:enumeration value="Dogecoin"/>
						<xs:enumeration value="EOS"/>
						<xs:enumeration value="Ethereum"/>
						<xs:enumeration value="Ethereum Classic="/>
						<xs:enumeration value="Euro"/>
						<xs:enumeration value="Helbiz"/>
						<xs:enumeration value="Hryvnia"/>
						<xs:enumeration value="KickCoin"/>
						<xs:enumeration value="Litecoin"/>
						<xs:enumeration value="Monero"/>
						<xs:enumeration value="Polish zloty"/>
						<xs:enumeration value="Ripple"/>
						<xs:enumeration value="Ruble"/>
						<xs:enumeration value="Stellar"/>
						<xs:enumeration value="Storiqa"/>
						<xs:enumeration value="Tether"/>
						<xs:enumeration value="US dollar"/>
						<xs:enumeration value="Waves"/>
						<xs:enumeration value="Zcash"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
