project.cpp.tutors/_cpp.unit.test/src/test.cases/data.provider/xml/ebo.bot.data.spec.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs ="http://www.w3.org/2001/XMLSchema"><!--only this attribute is required!-->
<xs:element name="currencies">
	<xs:complexType>
		<xs:sequence>
			<xs:element name = "currency" type = "currency_t" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>
	<xs:complexType name="currency_t">
		<xs:attribute name="id" type="xs:int"/>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="isFlat" type="xs:boolean"/>
		<xs:attribute name="description" type="xs:string"/>
	</xs:complexType>
</xs:schema>