project.cpp.tutors/_cpp.unit.test/src/test.cases/data.provider/xml/ebo.bot.data.providers.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2026 (x64) (https://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="contact">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="https://exmo.me/en/contacts"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="desc" type="xs:string"/>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="EXMO Finance LLP"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="param">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="desc"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="limit"/>
						<xs:enumeration value="pair"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="required" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="no"/>
						<xs:enumeration value="yes"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="integer"/>
						<xs:enumeration value="string"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="max">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="min">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="params">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="param" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="provider">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="contact"/>
				<xs:element ref="urls"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="providers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="provider"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="url">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="desc"/>
				<xs:element ref="params" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="cfg"/>
						<xs:enumeration value="currency"/>
						<xs:enumeration value="orders"/>
						<xs:enumeration value="ticker"/>
						<xs:enumeration value="trades"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="uri" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
						<xs:enumeration value="https://api.exmo.com/v1/currency/"/>
						<xs:enumeration value="https://api.exmo.com/v1/order_book/"/>
						<xs:enumeration value="https://api.exmo.com/v1/pair_settings/"/>
						<xs:enumeration value="https://api.exmo.com/v1/ticker/"/>
						<xs:enumeration value="https://api.exmo.com/v1/trades/"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="request" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="POST/GET"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="urls">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="url" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
